{% extends "base.html" %}
{% load static i18n compress %}

{% block title %}
Djangun | 커뮤니티
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <h1>커뮤니티</h1>
    <hr>
    <div style="padding:10px 0"></div>
    <h2>Python 갤러리입니다.</h2>
    <div style="padding:10px 0"></div>
    <hr>
    <ol>
    {% for post in object_list %}
      <li style="margin:10px">
        <a href="test.com">
          {{ post.title }}
        </a>
        </li>
      {% comment %} <li><a href={% url 'djangun.saloon:saloon_gallary_detail' gallary.id %}>{{ gallary.gallary_name}}</a></li> {% endcomment %}
      {% endfor %}
    </ol>
  </div>
</div>
{% endblock content %}
