{% extends "base.html" %}
{% load static i18n compress %}

{% block title %}
Djangun | 커뮤니티
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <h1>커뮤니티 살룬</h1>
    <h2>갤러리 포스트 리스트</h2>
    <ol>
    {% for post in object_list %}
      <li>{{ post.title }}</li>
      {% comment %} <li><a href={% url 'djangun.saloon:saloon_gallary_detail' gallary.id %}>{{ gallary.gallary_name}}</a></li> {% endcomment %}
      {% endfor %}
    </ol>
  </div>
</div>
{% endblock content %}
