{% load static i18n compress%}<!DOCTYPE html>
<html lang="ko-kr" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>
    {% block title %}
    Djangun | Beginners' All-in-one Coding Platform
    {% endblock title %}
    </title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'images/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static 'images/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    {% block css %}
    <link href="{% static 'css/theme.min.css' %}" rel="stylesheet" />
    {% endblock css %}
  </head>

  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-4 d-block" style="background-color:#57926E;">
        <div class="container"><a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/gallery/djangun logo white.png' %}" height="36" alt="djangun logo" /></a><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
              <li class="nav-item px-2"><a class="nav-link fw-medium active" aria-current="page" href="{% url 'djangun.ranch:ranch_dashboard' %}">Project</a></li>
              {% if user.username %}
              <li class="nav-item px-2"><a class="nav-link" href="{% url 'djangun.railroad:railroad_main' username=user.username %}">Cloud</a></li>
              {% else %}
              <li class="nav-item px-2"><a class="nav-link" href="{% url 'account_login' %}">Cloud</a></li>
              {% endif %}
              <li class="nav-item px-2"><a class="nav-link" href="{% url 'djangun.gunshop:gunshop_lecture_list' %}">Study </a></li>
              <li class="nav-item px-2"><a class="nav-link" href="{% url 'djangun.saloon:saloon_main' %}">Community</a></li>
            </ul>
            <form class="ps-lg-5">
            {% if not user.is_authenticated %}
            <a class="btn btn-light order-1 order-lg-0" href="{% url 'account_login' %}">
            login
            {% else %}
            <a class="btn btn-light order-1 order-lg-0" href="{% url 'account_logout' %}">
            logout
            {% endif %}
            <svg class="bi bi-person-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                </svg></a>
            </form>
          </div>
        </div>
      </nav>
      <div style="padding:50px;"></div>
      <div style="padding:50px;"></div>

    <main class="main">
      {% block content %}
      {% comment %} <h1>{{ user.is_authenticated }}</h1> {% endcomment %}
      {% endblock content %}
    </main>

      {% block footer %}
      <section class="py-0 py-xxl-6" id="help">
        <div class="bg-holder" style="background-image:url({% static 'images/gallery/footer-bg.png' %});background-position:center;background-size:cover;"></div>
        <!--/.bg-holder-->
        <div class="container">
          <div class="row min-vh-75 min-vh-xl-50 pt-10">
            <div class="col-6 col-md-4 col-xl-3 mb-3">
              <h5 class="lh-lg fw-bold text-white">PROJECTS</h5>
              <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">프로젝트</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">커뮤니티</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">후원</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">비즈니스</a></li>
              </ul>
            </div>
            <div class="col-6 col-md-4 col-xl-3 mb-3">
              <h5 class="lh-lg fw-bold text-white">CLOUDS</h5>
              <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">개발용 VPS (가상서버)</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Full-time VPS</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">VPS 전환</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">해외 호스팅</a></li>
              </ul>
            </div>
            <div class="col-6 col-md-4 col-xl-3 mb-3">
              <h5 class="lh-lg fw-bold text-white">STUDIES</h5>
              <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">동영상 강의</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">위키</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">문서</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">템플릿</a></li>
              </ul>
            </div>
            <div class="col-xl-3 mb-3">
              <h5 class="lh-lg fw-bold text-white">BIZ INFO</h5>
              <ul class="list-unstyled mb-6 mb-md-0">
                <li class="lh-lg">
                  <p class="text-white text-word-keep-all">장건 주식회사, 대표이사 이승주</p>
                </li>
                <li class="lh-lg">
                  <p class="text-white text-word-keep-all">서울특별시 동작구 상도로55길 8-3, 365스테이션 301호</p>
                </li>
                <li class="lh-lg"><a class="text-white" href="https://teht.hometax.go.kr/websquare/websquare.html?w2xPath=/ui/ab/a/a/UTEABAAA13.xml" target="_blank">사업자등록번호 : 781-87-02321</a></li>
                <li class="lh-lg"><a class="text-white" href="https://ftc.go.kr/www/bizCommList.do?key=232" target="_blank">통신판매업 신고 준비중</a></li>
              </ul>
            </div>
          </div>
          <hr />
          <div class="row flex-center pb-3">
            <div class="col-md-6 order-0">
              <p class="text-200 text-center text-md-start">All rights Reserved &copy; 2021. Binaryeast. Co., Ltd. </p>
            </div>
            <div class="col-md-6 order-1">
              <p class="text-200 text-center text-md-end"> Made with&nbsp;<svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#A8B7FF" viewBox="0 0 16 16">
                  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                </svg>&nbsp;by&nbsp;<a class="text-200 fw-bold" href="https://themewagon.com/" target="_blank">ThemeWagon </a></p>
            </div>
          </div>
        </div>
      </section>
      {% endblock footer %}
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->



    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
  {% block javascript %}
    <script src="{% static 'js/vendors/@popperjs/popper.min.js' %}"></script>
    <script src="{% static 'js/vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/vendors/is/is.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'js/vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'js/theme.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap" rel="stylesheet">
  {% endblock javascript %}
  </body>

</html>
